.landing_page_banner {
    background-image: url('/theme/img/landing_page_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}
.landing-page-form-label {
    color: #242424;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.307px; /* 126.917% */
} 
.landing-page-form-input {
    border-radius: 4px;
    border: 0.846px solid #E1E1E1;
    background: #FFFFFF;
    box-shadow: 0px 0.846px 1.692px 0px rgba(16, 24, 40, 0.05);
    color: #828282;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.307px; /* 126.917% */
}
.landing_page_btn_form_1 {
    border-radius: 4px;
    background-color: #7CC633;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.08px;
}
.landing_page_btn_form_1:hover {
    background-color: #7CC633;
    color: #FFF;
}
.pipeline_div {
    background: #7CC633;
    width: 12px !important;
    height: 126px;
} 
.landing_page_main_heading {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 72px */
    letter-spacing: 1.2px;
}
.landing_page_banner_para {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 176.25%; /* 42.3px */
}
.product_slider_div {
    background-image: url('/theme/img/landing_page/landing_product_background_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.landing_add_to_cart {
    border-radius: 5px;
    background: #7CC633;
    color: #FFF;
    font-family: 'Poppins';
    /* font-size: 18px; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.landing_add_to_cart:hover {
    background: #7CC633;
    color: #FFF;
}
.landing_product_name {
    color: #FFF;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.landing_product_price {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.landing_product_created {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 15.986px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.799px;
    text-transform: uppercase;
}
.landing_page_product_header {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.landing_page_seller_header {
    color: #1A1A1A;
    text-align: center;
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.landing_page_advantage_header {
    color: #1A1A1A;
    text-align: center;
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#owl-carousel-landing-page > .owl-nav > .owl-prev{
    left : -200px !important;
    top: 40%
}
#owl-carousel-landing-page > .owl-nav > .owl-next{
    right : -200px !important;
    top: 40%;
}
.landing_page_top_seller_add_to_cart {
    text-decoration: none;
    border-radius: 5px;
    background-color: #7BC533;
    color: #FFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.066px;
    text-transform: uppercase;
}
.landing_page_top_seller_add_to_cart:hover {
    background-color: #7BC533;
    color: #fff;
}
.landing_adv_card {
    border-radius: 5px;
    border-top: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    background: #FBFBFB;
    min-height:500px;
}
.landing_advantage_card_header {
    color: #000;
    text-align: center;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.landing_advantage_card_text {
    color: #747474;
    text-align: center;
    font-family: 'Poppins';
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.landing_see_all_products {
    border-radius: 4px;
    background: #7CC633;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    /* font-size: 22px; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.11px;
}
.landing_see_all_products:hover {
    background: #7CC633;
    color: #FFF;
}
.landing_see_all_inquiry {
    border-radius: 5px;
    background-color: #7CC633;
    color: #FFF;
    font-family: 'Poppins';
    /* font-size: 16px; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.landing_page_thankyou_text {
    color: #000;
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 165% */
}
.landing_error_div {
    font-size: 12px;
}

@media  screen and  (min-width: 1921px) {
    .landing-page-form-input {
        padding: 1rem;
    }
    .form_1 {
        padding: 1.5rem;
    }
    .form_2 {
        padding: 1.5rem;
    }
    .form_3 {
        padding: 1.5rem;
    }
    .form_4 {
        padding: 1.5rem;
    }
    .form_1_head  {
        font-size: 26px !important;
        line-height: 26px !important;
        font-weight: 600 !important;
    } 
    .landing-page-form-label {
        font-size: 20px !important;
    }
    .landing-page-form-input {
        font-size: 20px !important;
    }
    .landing_page_btn_form_1 {
        font-size: 22px !important;
    }
    .landing_page_banner_para {
        font-size: 30px;
    }
    .landing_error_div {
        font-size: 20px;
    }
    
}
@media  screen and (min-width : 1441px) and (max-width: 1920px) {
    .landing-page-form-input {
        padding: 0.35rem;
        
    }
    .landing-form-group {
        margin-bottom: 0.25rem;
    }
    .form_1 {
        padding: 1.25rem;
    }
    .form_2 {
        padding: 1.25rem;
    }
    .form_3 {
        padding: 1.25rem;
    }
    .form_4 {
        padding: 1.25rem;
    }
    .form_1_head  {
        font-size: 16px !important;
        line-height: 16px !important;
        font-weight: 600 !important;
    } 
    .landing-page-form-label {
        font-size: 16px !important;
    }
    .landing-page-form-input {
        font-size: 16px !important;
    }
    .landing_page_btn_form_1 {
        font-size: 16px !important;
    }
    .landing_page_banner_para {
        font-size: 24px;
    }
    
    .landing_page_main_heading {
        font-size: 42px;
    
    }
    .pipeline_div {
        width: 10px !important;
        height: 80px;
    }


    
}
@media  screen and (min-width : 1025px) and (max-width: 1440px) {
    .landing-page-form-input {
        padding: 0.25rem;
    }
    .landing-form-group {
        margin-bottom: 0.25rem;
    }
    .landing_page_main_heading {
        font-size: 42px;
    }
    .landing_page_banner_para {
        font-size: 22px;
        line-height: 34px;
    }
    .pipeline_div {
        width: 10px !important;
        height: 80px;
    }
    .landing-page-form-label {
        font-size: 14px !important;
    }
    .landing-page-form-input {
        font-size: 14px !important;
    }
    .landing_page_btn_form_1 {
        font-size: 14px !important;
    }
    .form_1_head  {
        font-size: 16px !important;
        line-height: 16px !important;
        font-weight: 600 !important;
    } 
    .form_1 {
        padding: 1rem;
    }
    .form_2 {
        padding: 1rem;
    }
    .form_3 {
        padding: 1rem;
    }
    .form_4 {
        padding: 1rem;
    }
    
}
@media  screen and (min-width : 769px) and (max-width: 1024px) {
    .landing-page-form-input {
        padding: 0.25rem;
    }
    .landing-form-group {
        margin-bottom: 0.25rem;
    }
    .landing_page_main_heading {
        font-size: 30px;
    }
    .landing_page_banner_para {
        font-size: 20px;
    }
    .pipeline_div {
        width: 8px !important;
        height: 60px;
    }
    .form_1_head  {
        font-size: 16px !important;
        line-height: 16px !important;
        font-weight: 500 !important;
    }
    .landing-page-form-label {
        font-size: 14px !important;
    }
    .landing-page-form-input {
        font-size: 14px !important;
    }
    .landing_page_btn_form_1 {
        font-size: 14px !important;
    }
    .form_1 {
        padding: 0.75rem;
    }
    .form_2 {
        padding: 0.75rem;
    }
    .form_3 {
        padding: 0.75rem;
    }
    .form_4 {
        padding: 0.75rem;
    } 
}
@media  screen and (min-width : 601px) and (max-width: 768px) {
    .landing-page-form-input {
        padding: 0.25rem;
    }
    .landing-form-group {
        margin-bottom: 0.25rem;
    }
    .landing_page_banner_para {
        font-size: 16px;
    }
    .landing_page_main_heading {
        font-size: 20px;
    
    }
    .pipeline_div {
        width: 7px !important;
        height: 60px;
    }
    .form_1_head  {
        font-size: 15px !important;
        line-height: 15px !important;
        font-weight: 500 !important;
    }
    .landing-page-form-label {
        font-size: 14px !important;
    }
    .landing-page-form-input {
        font-size: 14px !important;
    }
    .landing_page_btn_form_1 {
        font-size: 14px !important;
    }
    .form_1 {
        padding: 0.75rem;
    }
    .form_2 {
        padding: 0.75rem;
    }
    .form_3 {
        padding: 0.75rem;
    }
    .form_4 {
        padding: 0.75rem;
    } 
}
@media  screen and (min-width : 280px) and (max-width: 600px) {
    .landing-page-form-input {
        padding: 0rem;
    }
    .landing-form-group {
        margin-bottom: 0.25rem;
    }
    .form_1 {
        padding: 0.25rem;
    }
    .form_2 {
        padding: 0.25rem;
    }
    .form_3 {
        padding: 0.25rem;
    }
    .form_4 {
        padding: 0.25rem;
    }
}