.deal-btn {
    background-color: #E32029;
}

.product-btn {
    background-color: #008BD3;
    color: #FFFFFF;
    height: 95px;
}

.cart-counter {
    background-color: #7BC533;
    width: 19px;
    height: 19px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    margin-top: -34px;
    margin-left: 26px;
}

.cart-price {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 21px;
    margin-top: 8px;
    background: transparent !important;
    border: none;
}

.popover {
    transform: translate(1095px, 3px) !important;
}

.popover-body {
    width: 170px;
    font-size: 12px;
    text-align: center;
    padding: 0.3rem 0.5rem;
    line-height: 1rem;
    margin-left: 10px !important;
}



#search-addon {
    background-color: #7BC533;
}

#search {
    border-color: #7BC533;
}

.top-search-group {
    width: 25rem !important;
}

.sub-menu {
    left: 10.6rem !important;
}

.product-mega-menu:active,
.product-mega-menu:focus {
    background-color: #7BC533;
    color: white !important;
}

.shrink {
    width: 416px !important;
}

.button-cards {
    background-color: #7BC533;
    color: #FFFFFF !important;
    border: none;
    width: 389px !important;
    font: Poppins;
    font-weight: 600;
    font-size: 18px;
    height: 44px;
    line-height: 27px
}

.product-detail-button-cards {
    background-color: #7BC533;
    color: #FFFFFF !important;
    border: none;
    width: 389px !important;
    height: 74px;
    line-height: 27px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
}

.card {
    min-height: 372px;
}

.free-shipping {
    min-height: initial !important;
}

.product-card {
    max-height: 324px;
    width: 370px
}

.products {
    width: 277px;
    height: 72px;
    left: 821px;
    top: 269px;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.footer-days {
    color: #7BC533 !important;
}

@import url('https://fonts.googleapis.com/css?family=Mukta');

a {
    text-decoration: none;
    color: #444444;
}

.login-reg-panel {
    position: relative;
    top: 50%;
    transform: translateY(-40%);
    text-align: center !important;
    width: 69% !important;
    margin: auto !important;
    height: 404px;
    background-color: #7BC533;
    margin-top: 400px !important;
    color: #fff !important;


}

.white-panel {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: -90px;
    right: calc(50% - 30px);
    transition: .3s ease-in-out;
    z-index: 0;
    box-shadow: 0 0 15px 9px #00000096;
    width: 48% !important;
    height: 528px !important;
    margin-top: 27px !important;
}

.dont-have-an-account {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 48px !important;
    letter-spacing: 0.05em !important;
    color: #FFFFFF !important;
}

.login-reg-panel input[type="radio"] {
    position: relative;
    display: none;
}

.login-reg-panel {
    color: #B8B8B8;
}

.login-reg-panel #label-login,
.login-reg-panel #label-register {
    font-family: 'Poppins';
    border: 1px solid #9E9E9E;
    padding: 23px 23px;
    display: block;
    text-align: center;
    color: #7BC533;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px !important;
}

.login-info-box {
    width: 46%;
    padding: 0 50px;
    top: 20%;
    left: 0;
    position: absolute;
    text-align: left;
}

.register-info-box {
    width: 46%;
    padding: 0 50px;
    top: 20%;
    right: 0;
    position: absolute;
    text-align: left;

}

.right-log {
    right: 50px !important;
}

.login-show,
.register-show {
    z-index: 1;
    display: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #242424;
    text-align: left;
    padding: 50px;

}

.show-log-panel {
    display: block;
    opacity: 0.9;
}

.login-show input[type="text"],
.login-show input[type="password"] {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.login-show input[type="button"] {
    width: 100%;
    background: lightgray;
    color: #FFFFFF;
    border: none;
    background-color: #7BC533;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float: right;
    cursor: pointer;
}

.login-show a {
    display: inline-block;
    padding: 10px 0;
}

.register-show input[type="text"],
.register-show input[type="password"] {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.register-show input[type="button"] {
    width: 100%;
    background: #7BC533;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float: right;
    cursor: pointer;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}

a {
    text-decoration: none;
    color: #2c7715;
}

.img_back {
    background-image: url('../img/img_12.png') !important;
}

.btn-login {
    width: 100%;
    height: 60px;
    color: #FFFF;
    background: #7BC533;
    border: none;
    font-weight: 600;
    font-size: 18px;

}

.btn-lost-password:hover {
    font-family: 'Poppins';
    color: #7ef409;
    text-decoration: none;
}

.btn-lost-password {
    font-family: 'Poppins';
    color: #7BC533;
    text-decoration: none;
    font-size: 15px;
}

.checkbox-lg .form-check-input {
    width: 25px;
    height: 25px;
}

.form-check-label {
    margin-top: 6px;
    color: #b5b5b5;
    font-size: 10px;
}

.fontAwesome:after {
    content: '*';
    color: red;
    font-family: 'Poppins';
}


.form-control:focus+.placeholder {
    display: none;
    font-family: 'Poppins';
}

.needs-validation label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.needs-validation .input-group input {
    border-radius: 0 !important;
}

.fontAwesome {
    font-family: 'Poppins', FontAwesome, 'Poppins';
    padding: 6px;
}

.form-signup input {
    background-color: #EBEBEB !important;
    border: none !important;
}

.form-login input {
    background-color: #EBEBEB !important;
    border: none !important;
}

.req {
    color: red;
}

.required-field {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.dropdown-menu-dark .dropdown-item {
    color: #333333 !important;
    border-bottom: 1px solid #DADADA;
}

.navbar .navbar-collapse {
    width: 324px !important;
    border-radius: 5px 5px 0px 0px !important;
}

.nav-item-links {
    border-radius: 5px 5px 0px 0px !important;
}

.navbar-light .navbar-nav {
    color: rgba(0, 0, 0, .9) !important;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .dropdown-toggle:focus,
.dropdown-toggle:hover {
    /* width: 345px !important; */
    background: #7CC633 !important;
    color: #fff !important;
    border-radius: 5px 5px 0px 0px !important;
}

.dropdown-menu-dark li:last-child>.dropdown-item {
    border-bottom: none;
}

.link-dark {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}



.form-signup-secondary input {
    background-color: #EBEBEB !important;
    border: none !important;
    border-radius: 0 !important;
}

.address-form input {
    background-color: #f6f6f6 !important;
    border: 1px solid #dedede !important;
    font-size: 18px !important;
}


.icon-container {
    margin: auto;
    max-width: 660px;
}

.user-info {
    max-width: 606px !important;
    margin: auto !important;
}

.signup-intro {
    max-width: 606px !important;
    margin: auto !important;
    color: #000000;
    text-align: center;
    font-weight: 300px;
    font-size: 14px;
    margin-top: 30px;
}

.user-info input {
    padding: 12px !important;
    border-radius: 2px !important;

}

.steps {
    width: 675px;
    margin: 50px auto;
    position: relative;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    width: 100%;
    text-align: center;
}

#sign-up:after {
    content: 'signup';
    position: absolute;
    bottom: -20px;
    width: 100%;
}

.images {
    display: flex;
    justify-content: space-around;
}

.contact-us-footer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pra-footer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.sm-4-footer {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-end {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #767676;
    text-align: center;
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.888);
    height: 7vh;
}

@media (max-width: 600px) {
    .top-search-group {
        width: 16rem !important;
    }

    .product-detail-button-cards {
        margin-left: 0px !important;
    }

    #quantity {
        margin-bottom: 10px !important;
    }
}

@media (max-width: 280px) {
    .top-search-group {
        width: 15rem !important;
        padding-right: 13px !important;
    }

    .product-detail-button-cards {
        margin-left: 0px !important;
    }

    #quantity {
        margin-bottom: 10px !important;
    }
}

.dropdown-menu-dark {
    background-color: #ffffff !important;
}

@media (min-width: 1200px) {
    #account {
        max-width: 1335px !important;
    }

    .product-detail-button-cards {
        margin-left: 60px !important;
    }

    .product-detail-content {
        width: 681px !important;
    }

    .product-detail-content1 {
        width: 583px !important;
    }

    .product-detail-content-dec {
        width: 583px !important;
    }
}

.spinner-border {
    left: 50% !important;
    margin-left: -25em !important;
}

.custom-pagination-brand-blue .pagination li.active .page-link {
    background: brand-blue;
    border-color: brand-blue;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #000 !important;
}

/* .cart-item {
    border-bottom: ;
} */
#circle {
    width: 20px;
    height: 20;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: azure;
}

.cart-headings {
    font-size: 26px !important;
    font-weight: 600 !important;

}

.cart-subtitles {
    width: 63px !important;
    font-weight: 500 !important;

}

.order-md-2 {
    max-width: 430px !important;
}

.order-md-2 .shipping-calculator {
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    max-width: 430px;
}

.totals {
    font-weight: 600;
    font-size: 18px;
}

.payment-option {
    font-weight: 600;
    font-size: 26px;
    width: 230px;
}

label {
    font-weight: 600;
    font-size: 16px !important;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.max-width {
    max-width: 408px !important;
}

.total-max-width {
    max-width: 338px !important;
}

.border-width {
    width: 430px !important;
}

.billing-address {
    max-width: 430px;
}

.billing-address .name {
    font-weight: 600;
    font-size: 16px;
}

.billing-address .address-line {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

#proceed-to-checkout {
    margin-top: 118px !important;
    margin: auto !important;
    max-width: 600px !important;
}

.product-image {
    cursor: pointer;
}

/*.inline-flex > w-5 > h-5 {
    width: 100px !important;
}*/
@media screen and (min-width: 992px) {
    #shipping_address {
        margin-left: -41px !important;
    }
}

.font-color-billing {
    color: #008BD3 !important;
}

.edit-button {
    width: 100px;
    height: 30px;
    background: #7BC533;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.my-acount-profile {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
}

/*.nav-item a:active {
    background: yellow;
}*/
.nav .active {
    background: #F5F5F5;
    border-left: 3px solid #008AD0;
    color: green !important;

}

.nav .active #home_active {
    display: block !important;
}

.nav .active #home_inactive {
    display: none !important;
}

.nav .active #order_active {
    display: block !important;
}

.nav .active #order_inactive {
    display: none !important;
}

.nav a {
    color: black;
}

.nav>.active>a {
    color: #008AD0;
}

.nav-items-link {
    vertical-align: middle;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
}

.my-account-content-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    vertical-align: middle;
}

.dashboard-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.dashboard-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.dashboard-link-text {
    color: #7BC743;
    cursor: pointer;
}

.order-table-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.table-row-content {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 19px !important;
}

.table-order-number {
    color: #008AD0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.view-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #7BC743;
    border: 1px solid #7BC743;
    border-radius: 7px;

}

.view-btn a:hover {
    background-color: yellow !important;
}

.view {
    position: absolute;
    width: 35px;
    height: 19px;
    left: 1553px;
    top: 488px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.billing-address-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #202020;
}

.billing-address-heading-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #202020;
}

#order_content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    background-color: #e4f6f6 !important;
    border-right-radius: 10px !important;
}

.shipping-content {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.quantity-counter {
    background-color: #008AD0;
    width: 17px;
    height: 17px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.password-container {
    width: 100%;
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
}

.fa-eye {
    position: absolute;
    top: 28%;
    right: 1%;
    cursor: pointer;
    color: lightgray;
}

.unchanged-blank {
    letter-spacing: 0px;
    font-size: 13px;
}

.address-user-details {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.address-weight {
    font-weight: 600 !important;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #7BC743 !important;
    border-color: #7BC743 !important;
}

.btn-save {
    width: 142px;
    height: 32px;
    background: #7BC743;
    border: 1px solid #7BC743;
    border-radius: 7px;
    color: #FFFFFF;
    visibility: center;
}

@media (max-width: 1200px) {
    .col-sm-12 {
        margin-top: 10px;
        margin-left: 0rem !important;
    }
}

.swal2-title {
    font-weight: 200 !important;
    color: blue !important;
}

.swal2-radio {
    display: grid !important;
    text-align: left !important;
}

.dropdown-menu-dark li {
    position: relative;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #7BC743;
    color: #fff !important;

}

.dropdown-menu-dark .dropdown-item.active,
.dropdown-menu-dark .dropdown-item:active {
    background-color: #7BC743 !important;
    color: #fff !important;
}

/*.dropdown-menu-dark:hover li {
    position: relative;
    background-color: yellow;
}*/
.dropdown-menu-dark .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    background-color: #fff;
}

.dropdown-menu-dark .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

.product-detail-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: #000000;
}

.product-detail-price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 45px;
    color: #DC4E41;
}

.product-detail-quantity {
    width: 50px !important;
    height: 50px !important;
    background: #E3F5F5 !important;
}

.product-detail-quantity-number {
    line-height: 45px;
    vertical-align: middle;
    margin-left: 16px;
    font-weight: 500;
    font-size: 18px;
}

.instock-label {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Poppins';
}

.category-title-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 20px;
    line-height: 30px;
}

.description-content {
    font-family: 'Poppins';
    width: 583px;
    left: 912px;
    top: 800px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154%;
}

.quantity {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 144px;
    height: 74px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 50px;
    border: none;
    color: #7CC633;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-size: 2rem;
    border-radius: 4px;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 74px;
}

.quantity-div {
    position: relative;
    cursor: pointer;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    width: 33px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "FontAwesome" !important;
    line-height: 2.5 !important;
    padding: 0;
    background: #FAFAFA;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-div:active {
    background: #EAEAEA;
}

.quantity-div.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-family: "FontAwesome";
    border-radius: 0 4px 0 0;
    line-height: 1.6
}

.quantity-div.quantity-down {
    position: absolute;
    bottom: 0;
    height: 50%;
    font-family: "FontAwesome";
    border-radius: 0 0 4px 0;
}

.top-bar-height {
    height: 78px;
}

.cart-counter-details {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.register-counter-details {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.category-title {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
}

.form-select {
    background-color: #EBEBEB !important;
    border: none !important;
    border-radius: 0;
}

#select2-brand-container {
    background-color: #EBEBEB !important;
    border: none !important;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
    border-radius: 0;
}

.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 1px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: unset !important;
}

.input-placeholder {
    position: relative;
    font-family: 'Poppins';
}

.input-placeholder input:valid+.placeholder {
    display: none;
    font-family: 'Poppins';
}

.placeholder {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    height: 25px;
    left: 10px;
    margin: auto;
    background: #fffdfd7a;
}

.placeholder span {
    color: red;
}

.login-title {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 60px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.login-singup {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}


.sing-up-label {
    width: 100%;
    height: 69px;
    top: 788px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.please-tell-uss {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    display: flex;
    align-items: center;
    text-align: center;

    /* black */

    color: #0000 !important;
}

.save-add-continue {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
}

.sing-up-continue {
    width: 232px;
    height: 50;
    color: #FFFF;
    background: #7BC533;
    border: none;
    font-weight: 600;
    font-size: 18px;

}

.in-stock {
    width: 82px !important;
    height: 34px !important;
    background-color: #7BC533;
    color: #FFFFFF !important;
    border: none;
}

.out-of-stock {
    width: 133px !important;
    height: 34px !important;
    background-color: #7BC533;
    color: #FFFFFF !important;
    border: none;
}

.dd-horizontal {
    display: flex !important;
}

.main-page-footer-section {
    margin-top: 39px;
    font-family: 'Poppins';
}

.ms-4-footer {
    font-size: 16px;
    margin-top: 8px;
}

.top-header-navigation {
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 1px !important;
    color: #373737 !important;
}

.top-img {
    width: 375px;
    height: 40px;
    margin-left: 10px;
}




.product-detail-page-product-name {
    font-family: 'Poppins' !important;
    font-size: 400px !important;
}

.coupan-code input[type="text"] {
    width: 30% !important;
}

.coupan-code input[type="text"] {
    width: 30% !important;
    height: 44px;
    background-color: #f7eded !important;
    border-color: #b5b5b5;
}

.apply-coupan-code-button {
    background-color: #dc3545 !important;
    color: #FFFFFF !important;
    border: none;
    font: Poppins;
    font-weight: 600;
    font-size: 18px;
    height: 40px;
    line-height: 27px
}

.coupan-code {
    font-family: 'Poppins';
    color: #b5b5b5;
    font-weight: 700px !important;
    font-size: 16px;
}

.footer-container-section {
    height: 100vh !important;
}

@media only screen and (max-width: 2560px) and (min-width: 1441px) {
    .top-img {
        margin-top: 10px;
        width: 100% !important;
        float: left;
    }

    .banner-img {
        width: 100%;
    }

    .top-header-navigation {
        width: 100% !important;
        font-size: 10px;
        /* background-color: aqua; */
    }

    .login-reg-panel {
        position: relative;
        top: 50%;
        align-items: center !important;
        /* transform: translateY(-40%); */
        text-align: center;
        width: 59% !important;
        margin: auto;
        height: 404px;
        background-color: #7BC533;
    }

    .white-panel {
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: -90px;
        transition: .3s ease-in-out;
        z-index: 0;
        box-shadow: 0 0 15px 9px #00000096;
        width: 535px !important;
        height: 426px;
    }

    .login-info-box {
        width: 46%;
        padding: 0 50px;
        top: 20%;
        left: 0;
        position: absolute;
        text-align: right;
        text-align: center;
    }

    .register-info-box {
        width: 46%;
        padding: 0 50px;
        top: 20%;
        right: 0;
        position: absolute;
        text-align: right;

    }

    .dont-have-an-account {
        font-family: 'Poppins' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 22px !important;
        line-height: 48px !important;
        letter-spacing: 0.05em !important;
        color: #FFFFFF !important;
    }

    .dont-have-an-account-pra {
        font-family: 'Poppins' !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 27px !important;
        text-align: center !important;
        letter-spacing: 0.05em;
        color: #FFFFFF !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

}

@media only screen and (max-width: 1440px) and (min-width: 1025) {
    .top-header-navigation {
        width: 100% !important;
        font-size: 10px;
    }

    .top-img {
        margin-top: 10px;
        width: 100% !important;
        height: 16px !important;
        float: left;
    }

    .login-reg-panel {
        position: relative;
        top: 50%;
        align-items: center !important;
        /* transform: translateY(-40%); */
        text-align: center;
        width: 66% !important;
        margin: auto;
        height: 386px;
        color: #ffff;
        background-color: #7BC533;
    }

    .white-panel {
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: -90px;
        /* right: calc(56% - 30px); */
        transition: .3s ease-in-out;
        z-index: 0;
        box-shadow: 0 0 15px 9px #00000096;
        width: 460px !important;
        height: 500px !important;
        margin-top: 29px;
    }

    .btn-lost-password {
        font-family: 'Poppins';
        color: #7BC533;
        text-decoration: none;
        font-size: 14px !important;
    }

    .form-check-label {
        margin-bottom: -49px !important;
        color: #b5b5b5;
        font-size: 15px !important;
    }

    .dont-have-an-account {
        font-family: 'Poppins' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 22px !important;
        line-height: 48px !important;
        letter-spacing: 0.05em !important;
        color: #FFFFFF !important;
        text-align: center !important;
    }

    .dont-have-an-account-pra {
        font-family: 'Poppins' !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 13px !important;
        line-height: 27px !important;
        text-align: center !important;
        letter-spacing: 0.05em;
        color: #FFFFFF !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #navbarNavDarkDropdown {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 767px) {
    .login-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 60px;
        /* identical to box height */
        letter-spacing: 0.05em;
    }

    .dont-have-an-account {
        font-size: 21px;
    }

    .dont-have-an-account-pra {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    .top-img {
        width: 100%;
        padding-top: 11px;
    }

    .banner-img {
        width: 100%;
    }

    .login-reg-panel {
        position: relative;
        top: 50%;
        align-items: center !important;
        /* transform: translateY(-40%); */
        text-align: center;
        width: 92% !important;
        margin: auto;
        height: 372px;
        background-color: #7BC533;
    }

    .white-panel {
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: -90px;
        transition: .3s ease-in-out;
        z-index: 0;
        box-shadow: 0 0 15px 9px #00000096;
        width: 450px !important;
        height: 475px;
    }

    .sing-up-label {
        width: 100%;
        height: 30px;
        top: 788px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
    }

    .login-singup {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 60px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    .login-show input[type="text"],
    .login-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 20px 0;
        padding: 15px;
        border: 1px solid #b5b5b5;
        outline: none;
        height: 40px;
    }

    .placeholder {
        font-size: 13px;
    }

    .btn-login {
        height: 40px;

    }

    .checkbox-lg .form-check-input {
        width: 19px;
        height: 19px;
    }

    .form-check-label {
        margin-bottom: -49px !important;
        color: #b5b5b5;
        font-size: 13px !important;
    }

    .required-field {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 480;
        font-size: 10px;
        line-height: 24px;
    }

    .btn-lost-password {
        font-family: 'Poppins';
        color: #7BC533;
        font-size: 10px;
        margin-bottom: -30px;
        text-decoration: none;
    }

    .dont-have-an-account {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
    }

    .dont-have-an-account-pra {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 9px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    .login-reg-panel #label-register {
        height: 51px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 424px) {
    .login-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 60px;
        letter-spacing: 0.05em;
    }

    .register-info-box {
        width: 46%;
        padding: 0 50px;
        top: 20%;
        right: 0;
        position: absolute;
        text-align: left;

    }

    .dont-have-an-account {
        font-family: 'Poppins' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 17px !important;
        line-height: 48px !important;
        letter-spacing: 0.05em !important;
        color: #FFFFFF !important;
        text-align: center;
    }

    .dont-have-an-account-pra {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    .top-img {
        width: 100%;
        padding-top: 11px;
    }

    .banner-img {
        width: 100%;
    }

    .login-reg-panel {
        position: relative;
        top: 50%;
        align-items: center !important;
        text-align: center;
        width: 94% !important;
        margin: auto;
        height: 372px;
        background-color: #7BC533;
    }

    .white-panel {
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: -90px;
        transition: .3s ease-in-out;
        z-index: 0;
        box-shadow: 0 0 15px 9px #00000096;
        width: 326px !important;
        height: 469px !important;
        margin-top: 48px !important;
    }

    .sing-up-label {
        width: 100%;
        height: 30px;
        top: 788px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
    }

    .login-singup {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 60px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    .login-show input[type="text"],
    .login-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 20px 0;
        padding: 15px;
        border: 1px solid #b5b5b5;
        outline: none;
        height: 40px;
    }

    .placeholder {
        font-size: 13px;
    }

    .btn-login {
        height: 40px;

    }

    .checkbox-lg .form-check-input {
        width: 19px;
        height: 19px;
    }

    .form-check-label {
        margin-bottom: -49px !important;
        color: #b5b5b5;
        font-size: 11px !important;
    }

    .required-field {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 480;
        font-size: 10px;
        line-height: 24px;
    }

    .btn-lost-password {
        font-family: 'Poppins';
        color: #7BC533;
        font-size: 10px;
        margin-bottom: -30px;
        text-decoration: none;
    }

    .dont-have-an-account {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
    }

    .dont-have-an-account-pra {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 9px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    .login-reg-panel #label-register {
        height: 51px;
    }
}

@media only screen and (max-width: 425px) and (min-width: 375px) {
    .login-title {
        font-family: 'Poppins';
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 13px !important;
        letter-spacing: 0.05em !important;
        margin-top: 0px !important;
        height: 39px !important;
    }

    .dont-have-an-account {
        font-family: 'Poppins' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 12px !important;
        line-height: 48px !important;
        letter-spacing: 0.05em !important;
        color: #FFFFFF !important;
        line-height: 17px !important;
    }

    .dont-have-an-account-pra {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200 !important;
        font-size: 6px !important;
        line-height: 15px !important;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;

    }

    .top-img {
        width: 100%;
        padding-top: 11px;
    }

    .banner-img {
        width: 100%;
    }

    .login-reg-panel {
        position: relative;
        top: 50%;
        align-items: center !important;
        text-align: center !important;
        width: 100% !important;
        margin: auto;
        height: 285px !important;
        background-color: #7BC533;
    }

    .white-panel {
        background-color: rgba(255, 255, 255, 1);
        position: absolute;
        top: -90px;
        transition: .3s ease-in-out;
        z-index: 0;
        box-shadow: 0 0 15px 9px #00000096;
        width: 221px !important;
        height: 370px !important;
    }

    .sing-up-label {
        width: 100% !important;
        height: 30px !important;
        top: 788px !important;
        font-family: 'Poppins' !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 10px !important;
    }

    .login-singup {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 60px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    .fontAwesome {
        font-family: 'Poppins', FontAwesome, 'Poppins';
        padding: 6px;
    }

    .form-signup input {
        background-color: #EBEBEB !important;
        border: none !important;
    }

    .form-login input {
        background-color: #EBEBEB !important;
        border: none !important;
    }

    .req {
        color: red;
    }

    .required-field {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }


    .login-show input[type="text"],
    .login-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 5px 0;
        padding: 15px;
        border: 1px solid #b5b5b5;
        outline: none;
    }

    .placeholder {
        font-size: 13px !important;
    }

    .btn-login {
        height: 40px;

    }

    .checkbox-lg .form-check-input {
        width: 19px;
        height: 19px;
    }

    .form-check-label {
        margin-bottom: -49px !important;
        color: #b5b5b5;
        font-size: 12px !important;
    }

    .required-field {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 480;
        font-size: 10px;
        line-height: 24px;
    }

    .btn-lost-password {
        font-family: 'Poppins';
        color: #7BC533;
        font-size: 10px;
        margin-bottom: -30px;
        text-decoration: none;
    }

    .dont-have-an-account {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
    }

    .dont-have-an-account-pra {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 9px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    .login-reg-panel #label-login,
    .login-reg-panel #label-register {
        font-family: 'Poppins';
        border: 1px solid #9E9E9E;
        padding: 23px 23px;
        display: block;
        text-align: center;
        color: #7BC533;
        background-color: white;
        cursor: pointer;
        font-weight: 600 !important;
        font-size: 11px !important;
    }

    .btn-login {
        width: 100%;
        height: 33px !important;
        color: #FFFF;
        background: #7BC533;
        border: none;
        font-weight: 600;
        font-size: 13px !important;
    }

    .login-show,
    .register-show {
        padding: 20px !important;

    }
}