@import url('https://fonts.cdnfonts.com/css/poppins');

.nav-item .active {
    background: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

.nav-item .active {
    font-family: 'Poppins', sans-serif;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #868686 !important;
}


.nav-item .active>i {
    color: #7CC633 !important;
}

.nav-item .active>p {
    color: #7CC633 !important;
}

.nav-item i {
    color: #868686 !important;
}

.nav-item p {
    color: #868686 !important;
}

/* order page start */
.content-wrapper>.content {
    padding: 0 0.5rem;
    background-color: white !important;
}

.order_heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 36px !important;
    color: #242424 !important;
}

.order_description {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 27px !important;
    color: #3C3C3C !important;
}

.create-new-order-btn {
    box-shadow: none;
    background: rgba(243, 243, 243, 0.53);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #868686;
    border: 1.03706px solid rgba(208, 208, 208, 0.51);
    border-radius: 7.25943px;
}

.has-search .form-control {
    padding-left: 2.375rem;
    padding-top: 25px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding-top: 10px;
}

.order-search {
    background: #FFFFFF !important;
    border: 1.03706px solid rgba(208, 208, 208, 0.51) !important;
    border-radius: 7.25943px !important;
    margin-top: -7px;
}

.table-hover tbody tr:hover {
    color: #212529 !important;
    background: rgba(243, 243, 243, 0.53) !important;
    border-radius: 8.8914px !important;
}

.table-hover tbody tr {
    background-color: none !important;
    color: #A4A4A4 !important;
}


.table td,
.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none !important;
}

.pagination {
    display: flex !important;
    padding-left: 0 !important;
    list-style: none !important;
    border-radius: 0.25rem !important;
    justify-content: end !important;
    margin-top: 50px !important;
}

.bg-icon {
    border: 1.41667px solid #242424 !important;
    color: #242424 !important;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #B3B3B3 !important;
    border-radius: 8.8914px !important;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: auto;
    background-color: #fff !important;
    border-color: #dee2e6;
    border: 1.4152px solid #242424 !important;
    border-radius: 8.8914px !important;
    color: #242424 !important;
}

.page-link:hover {
    z-index: 2;
    color: #7CC633 !important;
    text-decoration: none;
    background-color: #fff !important;
    border-color: #7CC633 !important;
}

.created_by_order {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 27px !important;
    color: #242424 !important;
}

.created_by_order_total {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 27px !important;
    align-items: center !important;
    color: #242424 !important;
    margin-left: 15px !important;
}

/* order page end */



/* product page start */

.product_name_slg {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 27px !important;
    align-items: center !important;
    color: #242424 !important;
}

.customer_full_name {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 27px !important;
    align-items: center !important;
    color: #242424 !important;
}

.product_retail_price {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 27px !important;
    align-items: center !important;
    color: #242424 !important;

}

/* product page end */


.background-success {
    border: 1px solid #7CC633 !important;
}

.background-primary {
    border: 1px solid #339AC6 !important;
}

.background-secondary {
    border: 1px solid #8e8b8b !important;
}

.background-warning {
    border: 1px solid #FFC700 !important;
}

.background-danger {
    border: 1px solid #FF0000 !important;
}


a {
    color: #B3B3B3 !important;
    text-decoration: none;
    background-color: transparent;
}

.page-item.active .page-link {
    z-index: 3;
    background-color: white !important;
    border-color: #7CC633 !important;
    color: #7CC633 !important;
    border-radius: 8.8914px;
}


.order-row {
    font-family: 'Poppins', sans-serif;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 27px !important;
    color: #A4A4A4 !important;
}

.user_name {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 27px !important;
    align-items: center !important;
    color: #242424 !important;
}



.total_order {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #242424;
}

.buy-list-title {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 27px !important;
    color: #242424 !important;
}

.shipping_name {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 27px !important;
    color: #242424 !important;
}


.search_row_admin-interface {
    background: #F3F3F3;
    border-radius: 8.8914px;
    width: 48% !important;
    height: 75px !important;
}

.search_row_admin_user {
    background: #F3F3F3;
    border-radius: 8.8914px;
    height: 75px !important;
}

.page-item {
    margin-left: 8.49px !important;
}

.main-sidebar {
    background-color: #2D2D2D !important;
}

.brand-text {
    color: #FFFFFF !important;
    /* font-family: 'Poppins' !important; */
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 36px !important;
    margin-left: 1.5rem !important;
}

/* order page :end */